<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,790},{233,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,76}}</string>
				<key>sourceSize</key>
				<string>{233,76}</string>
			</dict>

			<key>btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,592},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,682},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>btn_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,784},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>btn_kick.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,790},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,784},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>btn_settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,777},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>btn_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,930},{133,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,79}}</string>
				<key>sourceSize</key>
				<string>{133,79}</string>
			</dict>

			<key>btn_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,874},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>dinhlang.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,391},{237,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,392}}</string>
				<key>sourceSize</key>
				<string>{237,392}</string>
			</dict>

			<key>dtd.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,0},{237,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,390}}</string>
				<key>sourceSize</key>
				<string>{237,390}</string>
			</dict>

			<key>giaidau.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,0},{237,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,398}}</string>
				<key>sourceSize</key>
				<string>{237,398}</string>
			</dict>

			<key>icon_charge.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{110,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,147}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

			<key>icon_guide.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,296},{110,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,147}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

			<key>icon_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,148},{110,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,147}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

			<key>icon_money0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,867},{225,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,139}}</string>
				<key>sourceSize</key>
				<string>{225,139}</string>
			</dict>

			<key>icon_money1.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,790},{225,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,139}}</string>
				<key>sourceSize</key>
				<string>{225,139}</string>
			</dict>

			<key>icon_money2.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,867},{225,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,139}}</string>
				<key>sourceSize</key>
				<string>{225,139}</string>
			</dict>

			<key>icon_news.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,444},{110,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,147}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

			<key>money_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{280,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,76}}</string>
				<key>sourceSize</key>
				<string>{280,76}</string>
			</dict>

			<key>nha_tranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,399},{237,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,390}}</string>
				<key>sourceSize</key>
				<string>{237,390}</string>
			</dict>

			<key>title_bangxephang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,630},{323,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,69}}</string>
				<key>sourceSize</key>
				<string>{323,69}</string>
			</dict>

			<key>title_caidat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,560},{323,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,69}}</string>
				<key>sourceSize</key>
				<string>{323,69}</string>
			</dict>

			<key>title_giaidau.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,930},{220,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,69}}</string>
				<key>sourceSize</key>
				<string>{220,69}</string>
			</dict>

			<key>title_hethong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,490},{323,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,69}}</string>
				<key>sourceSize</key>
				<string>{323,69}</string>
			</dict>

			<key>title_hopthu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{323,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,69}}</string>
				<key>sourceSize</key>
				<string>{323,69}</string>
			</dict>

			<key>title_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{323,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,69}}</string>
				<key>sourceSize</key>
				<string>{323,69}</string>
			</dict>

			<key>title_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{323,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,69}}</string>
				<key>sourceSize</key>
				<string>{323,69}</string>
			</dict>

			<key>title_moichoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{323,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,69}}</string>
				<key>sourceSize</key>
				<string>{323,69}</string>
			</dict>

			<key>title_naptien.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{323,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,69}}</string>
				<key>sourceSize</key>
				<string>{323,69}</string>
			</dict>

			<key>title_thongtin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{323,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,69}}</string>
				<key>sourceSize</key>
				<string>{323,69}</string>
			</dict>

			<key>title_tintuc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{323,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,69}}</string>
				<key>sourceSize</key>
				<string>{323,69}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>buttons.png</string>
			</dict>
		</dict>
</plist>