<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,778},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>

			<key>btn_NhaTranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,756},{158,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,42}}</string>
				<key>sourceSize</key>
				<string>{158,42}</string>
			</dict>

			<key>btn_NhaTranh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,713},{158,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,42}}</string>
				<key>sourceSize</key>
				<string>{158,42}</string>
			</dict>

			<key>btn_SanDinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,571},{174,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,47}}</string>
				<key>sourceSize</key>
				<string>{174,47}</string>
			</dict>

			<key>btn_SanDinh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,613},{174,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,45}}</string>
				<key>sourceSize</key>
				<string>{174,45}</string>
			</dict>

			<key>btn_VuongPhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,666},{165,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,46}}</string>
				<key>sourceSize</key>
				<string>{165,46}</string>
			</dict>

			<key>btn_VuongPhu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,619},{165,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,46}}</string>
				<key>sourceSize</key>
				<string>{165,46}</string>
			</dict>

			<key>btn_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,617},{116,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,56}}</string>
				<key>sourceSize</key>
				<string>{116,56}</string>
			</dict>

			<key>btn_an_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,684},{116,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,56}}</string>
				<key>sourceSize</key>
				<string>{116,56}</string>
			</dict>

			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,228},{93,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,85}}</string>
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>

			<key>btn_back_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,830},{93,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,85}}</string>
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>

			<key>btn_bo_chiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,713},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>

			<key>btn_bo_chiu_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,619},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>

			<key>btn_boc.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,171},{116,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,56}}</string>
				<key>sourceSize</key>
				<string>{116,56}</string>
			</dict>

			<key>btn_boc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,900},{116,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,56}}</string>
				<key>sourceSize</key>
				<string>{116,56}</string>
			</dict>

			<key>btn_bou.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,937},{137,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,68}}</string>
				<key>sourceSize</key>
				<string>{137,68}</string>
			</dict>

			<key>btn_bou_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,937},{137,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,68}}</string>
				<key>sourceSize</key>
				<string>{137,68}</string>
			</dict>

			<key>btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,400},{93,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,85}}</string>
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>

			<key>btn_chat_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,314},{93,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,85}}</string>
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>

			<key>btn_chiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,843},{116,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,56}}</string>
				<key>sourceSize</key>
				<string>{116,56}</string>
			</dict>

			<key>btn_chiu_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,0},{116,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,56}}</string>
				<key>sourceSize</key>
				<string>{116,56}</string>
			</dict>

			<key>btn_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,552},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>

			<key>btn_danh.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,114},{116,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,56}}</string>
				<key>sourceSize</key>
				<string>{116,56}</string>
			</dict>

			<key>btn_danh_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,57},{116,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,56}}</string>
				<key>sourceSize</key>
				<string>{116,56}</string>
			</dict>

			<key>btn_dong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,92},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,79}}</string>
				<key>sourceSize</key>
				<string>{80,79}</string>
			</dict>

			<key>btn_dong_noc.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,669},{200,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,64}}</string>
				<key>sourceSize</key>
				<string>{200,64}</string>
			</dict>

			<key>btn_dong_noc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,734},{200,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,64}}</string>
				<key>sourceSize</key>
				<string>{200,64}</string>
			</dict>

			<key>btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,741},{96,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,88}}</string>
				<key>sourceSize</key>
				<string>{96,88}</string>
			</dict>

			<key>btn_down_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,317},{96,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,88}}</string>
				<key>sourceSize</key>
				<string>{96,88}</string>
			</dict>

			<key>btn_duoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,552},{116,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,56}}</string>
				<key>sourceSize</key>
				<string>{116,56}</string>
			</dict>

			<key>btn_duoi_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,957},{116,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,56}}</string>
				<key>sourceSize</key>
				<string>{116,56}</string>
			</dict>

			<key>btn_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,916},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>btn_invite_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,0},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,843},{96,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,88}}</string>
				<key>sourceSize</key>
				<string>{96,88}</string>
			</dict>

			<key>btn_rank_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,406},{96,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,88}}</string>
				<key>sourceSize</key>
				<string>{96,88}</string>
			</dict>

			<key>btn_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,669},{200,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,64}}</string>
				<key>sourceSize</key>
				<string>{200,64}</string>
			</dict>

			<key>btn_ready_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,929},{200,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,64}}</string>
				<key>sourceSize</key>
				<string>{200,64}</string>
			</dict>

			<key>btn_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,799},{141,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,68}}</string>
				<key>sourceSize</key>
				<string>{141,68}</string>
			</dict>

			<key>btn_send_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,868},{141,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,68}}</string>
				<key>sourceSize</key>
				<string>{141,68}</string>
			</dict>

			<key>btn_settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,228},{96,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,88}}</string>
				<key>sourceSize</key>
				<string>{96,88}</string>
			</dict>

			<key>btn_settings_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,932},{96,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,88}}</string>
				<key>sourceSize</key>
				<string>{96,88}</string>
			</dict>

			<key>btn_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,571},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>

			<key>btn_small_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,571},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>

			<key>btn_unready.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,799},{200,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,64}}</string>
				<key>sourceSize</key>
				<string>{200,64}</string>
			</dict>

			<key>btn_unready_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,734},{200,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,64}}</string>
				<key>sourceSize</key>
				<string>{200,64}</string>
			</dict>

			<key>btn_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,495},{96,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,88}}</string>
				<key>sourceSize</key>
				<string>{96,88}</string>
			</dict>

			<key>btn_up_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,609},{96,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,88}}</string>
				<key>sourceSize</key>
				<string>{96,88}</string>
			</dict>

			<key>btn_xem_noc.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,864},{200,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,64}}</string>
				<key>sourceSize</key>
				<string>{200,64}</string>
			</dict>

			<key>btn_xem_noc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,864},{200,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,64}}</string>
				<key>sourceSize</key>
				<string>{200,64}</string>
			</dict>

			<key>btn_xuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,799},{200,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,64}}</string>
				<key>sourceSize</key>
				<string>{200,64}</string>
			</dict>

			<key>btn_xuong_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,929},{200,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,64}}</string>
				<key>sourceSize</key>
				<string>{200,64}</string>
			</dict>

			<key>chosen_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,549},{231,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,63}}</string>
				<key>sourceSize</key>
				<string>{231,63}</string>
			</dict>

			<key>icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,799},{129,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,126}}</string>
				<key>sourceSize</key>
				<string>{129,126}</string>
			</dict>

			<key>icon_news.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,584},{89,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,140}}</string>
				<key>sourceSize</key>
				<string>{89,140}</string>
			</dict>

			<key>money_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,613},{223,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,55}}</string>
				<key>sourceSize</key>
				<string>{223,55}</string>
			</dict>

			<key>room_bg_NhaTranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,0},{262,570}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{262,570}}</string>
				<key>sourceSize</key>
				<string>{262,570}</string>
			</dict>

			<key>room_bg_SanDinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{265,548}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,548}}</string>
				<key>sourceSize</key>
				<string>{265,548}</string>
			</dict>

			<key>room_bg_VuongPhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,0},{246,551}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{246,551}}</string>
				<key>sourceSize</key>
				<string>{246,551}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>buttons.png</string>
			</dict>
		</dict>
</plist>