<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_table_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,576},{224,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,81}}</string>
				<key>sourceSize</key>
				<string>{224,81}</string>
			</dict>

			<key>btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,717},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_NhaTranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,459},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_NhaTranh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,959},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_SanDinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,691},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_SanDinh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,901},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_VuongPhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,633},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_VuongPhu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,0},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,287},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_an_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,352},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,520},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_back_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,602},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_bag.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,175},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_bag_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,930},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_bo_chiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,279},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_bo_chiu_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,576},{202,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,56}}</string>
				<key>sourceSize</key>
				<string>{202,56}</string>
			</dict>

			<key>btn_boc.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,352},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_boc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,593},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_bou.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,900},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_bou_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,58},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,503},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_chat_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,848},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_chiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,901},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_chiu_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,225},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,517},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_danh.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,0},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_danh_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,414},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_dong_noc.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,219},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_dong_noc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,470},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,867},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_down_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,703},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_duoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,120},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_duoi_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,579},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,170},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_exit_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,421},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,0},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>btn_invite_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,585},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>btn_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,909},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_lichsu_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,789},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,173},{255,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,45}}</string>
				<key>sourceSize</key>
				<string>{255,45}</string>
			</dict>

			<key>btn_moi.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,655},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_moi_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,838},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,785},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_rank_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,257},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,658},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_ready_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,849},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,962},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_send_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,641},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,684},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_settings_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,88},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_unready.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,909},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_unready_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,789},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,339},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_up_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,766},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_xem_noc.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,849},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_xem_noc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,339},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_xuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,399},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_xuong_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,718},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>center.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,219},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>chosen_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,111},{194,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,57}}</string>
				<key>sourceSize</key>
				<string>{194,57}</string>
			</dict>

			<key>icon_agency.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,294},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,113}}</string>
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>

			<key>icon_charge.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,182},{109,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,111}}</string>
				<key>sourceSize</key>
				<string>{109,111}</string>
			</dict>

			<key>icon_guide.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,779},{109,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,111}}</string>
				<key>sourceSize</key>
				<string>{109,111}</string>
			</dict>

			<key>icon_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,408},{107,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,111}}</string>
				<key>sourceSize</key>
				<string>{107,111}</string>
			</dict>

			<key>icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,225},{129,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,126}}</string>
				<key>sourceSize</key>
				<string>{129,126}</string>
			</dict>

			<key>icon_news.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,62},{107,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,112}}</string>
				<key>sourceSize</key>
				<string>{107,112}</string>
			</dict>

			<key>money_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,969},{188,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,51}}</string>
				<key>sourceSize</key>
				<string>{188,51}</string>
			</dict>

			<key>table_SoLo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,658},{203,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,130}}</string>
				<key>sourceSize</key>
				<string>{203,130}</string>
			</dict>

			<key>title_bangxephang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{266,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,61}}</string>
				<key>sourceSize</key>
				<string>{266,61}</string>
			</dict>

			<key>title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{410,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,110}}</string>
				<key>sourceSize</key>
				<string>{410,110}</string>
			</dict>

			<key>title_caidat.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,58},{140,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,51}}</string>
				<key>sourceSize</key>
				<string>{140,51}</string>
			</dict>

			<key>title_hethong.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,838},{168,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,62}}</string>
				<key>sourceSize</key>
				<string>{168,62}</string>
			</dict>

			<key>title_hopthu.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,169},{155,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,55}}</string>
				<key>sourceSize</key>
				<string>{155,55}</string>
			</dict>

			<key>title_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,778},{191,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,59}}</string>
				<key>sourceSize</key>
				<string>{191,59}</string>
			</dict>

			<key>title_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,523},{236,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{236,52}}</string>
				<key>sourceSize</key>
				<string>{236,52}</string>
			</dict>

			<key>title_loidai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,470},{243,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,52}}</string>
				<key>sourceSize</key>
				<string>{243,52}</string>
			</dict>

			<key>title_moichoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,169},{161,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,46}}</string>
				<key>sourceSize</key>
				<string>{161,46}</string>
			</dict>

			<key>title_naptien.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,530},{157,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,62}}</string>
				<key>sourceSize</key>
				<string>{157,62}</string>
			</dict>

			<key>title_thongtin.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,969},{176,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,53}}</string>
				<key>sourceSize</key>
				<string>{176,53}</string>
			</dict>

			<key>title_tintuc.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,530},{136,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,44}}</string>
				<key>sourceSize</key>
				<string>{136,44}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>buttons.png</string>
			</dict>
		</dict>
</plist>