<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,658},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,825},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,825},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,638},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,825},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>53.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,451},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>61.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,804},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>62.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,617},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>63.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,430},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>71.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>72.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,638},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>73.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,451},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>81.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,638},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>82.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,825},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>83.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>91.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,451},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>92.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,451},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>93.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,638},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>NhaTranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,821},{181,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,10},{181,45}}</string>
				<key>sourceSize</key>
				<string>{217,65}</string>
			</dict>

			<key>SanDinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,867},{162,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,9},{162,46}}</string>
				<key>sourceSize</key>
				<string>{217,65}</string>
			</dict>

			<key>SoLo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,914},{142,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,11},{142,47}}</string>
				<key>sourceSize</key>
				<string>{217,65}</string>
			</dict>

			<key>Tour.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,766},{183,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,3},{183,54}}</string>
				<key>sourceSize</key>
				<string>{217,65}</string>
			</dict>

			<key>VuongPhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,723},{196,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{196,42}}</string>
				<key>sourceSize</key>
				<string>{217,65}</string>
			</dict>

			<key>avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,915},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>avatar_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,713},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>avatar_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,617},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>bg_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,656},{127,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,174}}</string>
				<key>sourceSize</key>
				<string>{127,174}</string>
			</dict>

			<key>bg_avatar_main.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,502},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>

			<key>bg_card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,914},{136,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,17},{136,64}}</string>
				<key>sourceSize</key>
				<string>{171,118}</string>
			</dict>

			<key>bg_countdown.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,388},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>

			<key>bg_dianoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,388},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{113,113}}</string>
				<key>sourceSize</key>
				<string>{171,118}</string>
			</dict>

			<key>bg_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,77},{537,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{537,86}}</string>
				<key>sourceSize</key>
				<string>{537,86}</string>
			</dict>

			<key>bg_napnoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,248},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,78}}</string>
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>

			<key>bg_page_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,430},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,5},{56,56}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>bg_page_number_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,77},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{66,67}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>bg_slide_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,164},{400,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,76}}</string>
				<key>sourceSize</key>
				<string>{400,76}</string>
			</dict>

			<key>bg_tabs.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{962,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{962,76}}</string>
				<key>sourceSize</key>
				<string>{962,76}</string>
			</dict>

			<key>bg_user_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,723},{128,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,153}}</string>
				<key>sourceSize</key>
				<string>{129,154}</string>
			</dict>

			<key>box1.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,979},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>box10.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,248},{71,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,56}}</string>
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>

			<key>box11.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,327},{71,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,56}}</string>
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>

			<key>box12.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,656},{73,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,56}}</string>
				<key>sourceSize</key>
				<string>{73,56}</string>
			</dict>

			<key>box2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,962},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>box3.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,164},{107,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,83}}</string>
				<key>sourceSize</key>
				<string>{107,83}</string>
			</dict>

			<key>box5.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,847},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>box6.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,164},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>box7.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,979},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,37}}</string>
				<key>sourceSize</key>
				<string>{40,37}</string>
			</dict>

			<key>box8.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,831},{107,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,83}}</string>
				<key>sourceSize</key>
				<string>{107,83}</string>
			</dict>

			<key>box_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,307},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,80}}</string>
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>

			<key>btn_page_number_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,235},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{66,67}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>btn_page_number_prev.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,303},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{66,67}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>btn_u.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,502},{112,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,114}}</string>
				<key>sourceSize</key>
				<string>{112,114}</string>
			</dict>

			<key>center.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,307},{348,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,348}}</string>
				<key>sourceSize</key>
				<string>{348,348}</string>
			</dict>

			<key>checked.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,773},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{53,54}}</string>
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>

			<key>chuphong.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,915},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,67}}</string>
				<key>sourceSize</key>
				<string>{66,67}</string>
			</dict>

			<key>circle_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,656},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>

			<key>ga_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,713},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,59}}</string>
				<key>sourceSize</key>
				<string>{54,60}</string>
			</dict>

			<key>ga_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,487},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,59}}</string>
				<key>sourceSize</key>
				<string>{54,60}</string>
			</dict>

			<key>ico_user_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,962},{15,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,21}}</string>
				<key>sourceSize</key>
				<string>{15,21}</string>
			</dict>

			<key>icon_sansang.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,658},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>

			<key>icon_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,371},{64,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{64,58}}</string>
				<key>sourceSize</key>
				<string>{82,58}</string>
			</dict>

			<key>input_mathe.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,241},{354,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,65}}</string>
				<key>sourceSize</key>
				<string>{354,65}</string>
			</dict>

			<key>player1.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,962},{50,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,4},{50,54}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>player2.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,877},{45,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,0},{45,65}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>player3.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,593},{55,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,21},{55,64}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>player4.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,847},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,27},{49,53}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>stilt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,998},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{61,54},{90,24}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>table.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,656},{203,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,39},{203,66}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>time_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,831},{120,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,166}}</string>
				<key>sourceSize</key>
				<string>{120,166}</string>
			</dict>

			<key>unchecked.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,979},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,5},{44,44}}</string>
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>game.png</string>
			</dict>
		</dict>
</plist>