<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,573},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,384},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,6},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,617},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,573},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,195},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,384},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,288},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,99},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,195},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,288},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,99},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,762},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>53.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,384},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>61.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,762},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>62.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,809},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>63.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,6},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>71.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,806},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>72.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,573},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>73.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,6},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>81.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,195},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>82.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,384},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>83.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,762},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>91.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,573},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>92.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,6},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>93.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,195},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>NhaTranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,6},{202,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,118}}</string>
				<key>sourceSize</key>
				<string>{202,118}</string>
			</dict>

			<key>SanDinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,244},{197,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{197,118}}</string>
				<key>sourceSize</key>
				<string>{197,118}</string>
			</dict>

			<key>SoLo.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,363},{163,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,118}}</string>
				<key>sourceSize</key>
				<string>{163,118}</string>
			</dict>

			<key>VuongPhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,125},{198,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,118}}</string>
				<key>sourceSize</key>
				<string>{198,118}</string>
			</dict>

			<key>avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,713},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>avatar_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,617},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>bg_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,779},{115,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,163}}</string>
				<key>sourceSize</key>
				<string>{115,163}</string>
			</dict>

			<key>bg_card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,910},{127,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,38}}</string>
				<key>sourceSize</key>
				<string>{127,38}</string>
			</dict>

			<key>bg_dianoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,6},{115,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,117}}</string>
				<key>sourceSize</key>
				<string>{115,117}</string>
			</dict>

			<key>bg_napnoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,949},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

			<key>bg_napnoc_hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,943},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

			<key>box1.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,949},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>box2.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,951},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>box3.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,762},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>box4.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,994},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,29}}</string>
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>

			<key>box5.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,951},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>box6.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,482},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>box_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,127},{25,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,64}}</string>
				<key>sourceSize</key>
				<string>{25,64}</string>
			</dict>

			<key>box_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,943},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,80}}</string>
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>

			<key>btn_ga_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,514},{105,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,102}}</string>
				<key>sourceSize</key>
				<string>{105,102}</string>
			</dict>

			<key>btn_ga_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,514},{105,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,102}}</string>
				<key>sourceSize</key>
				<string>{105,102}</string>
			</dict>

			<key>btn_u.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,363},{157,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,150}}</string>
				<key>sourceSize</key>
				<string>{157,150}</string>
			</dict>

			<key>chuphong.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,6},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>

			<key>circle_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,573},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>dinhlang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,515},{329,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,254}}</string>
				<key>sourceSize</key>
				<string>{329,254}</string>
			</dict>

			<key>dtd.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,6},{330,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,253}}</string>
				<key>sourceSize</key>
				<string>{330,253}</string>
			</dict>

			<key>ga_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,51},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,37}}</string>
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>

			<key>ga_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,89},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>

			<key>header.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,482},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>icon_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,951},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,47}}</string>
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>

			<key>light.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,482},{50,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,10}}</string>
				<key>sourceSize</key>
				<string>{50,10}</string>
			</dict>

			<key>line_xuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{971,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{971,5}}</string>
				<key>sourceSize</key>
				<string>{971,5}</string>
			</dict>

			<key>loidai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,770},{329,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,253}}</string>
				<key>sourceSize</key>
				<string>{329,253}</string>
			</dict>

			<key>mask_avar.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,617},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,105}}</string>
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>

			<key>nha_tranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{330,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,254}}</string>
				<key>sourceSize</key>
				<string>{330,254}</string>
			</dict>

			<key>playerNhaTranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,723},{55,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,51}}</string>
				<key>sourceSize</key>
				<string>{55,51}</string>
			</dict>

			<key>playerSanDinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,292},{56,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,51}}</string>
				<key>sourceSize</key>
				<string>{56,51}</string>
			</dict>

			<key>playerSoLo.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,292},{57,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,51}}</string>
				<key>sourceSize</key>
				<string>{57,51}</string>
			</dict>

			<key>playerVuongPhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,723},{57,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,51}}</string>
				<key>sourceSize</key>
				<string>{57,51}</string>
			</dict>

			<key>stilt.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,482},{34,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,22}}</string>
				<key>sourceSize</key>
				<string>{34,22}</string>
			</dict>

			<key>table_NhaTranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,515},{205,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,131}}</string>
				<key>sourceSize</key>
				<string>{205,131}</string>
			</dict>

			<key>table_SanDinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,647},{205,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,131}}</string>
				<key>sourceSize</key>
				<string>{205,131}</string>
			</dict>

			<key>table_VuongPhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,779},{203,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,130}}</string>
				<key>sourceSize</key>
				<string>{203,130}</string>
			</dict>

			<key>time_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,125},{120,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,166}}</string>
				<key>sourceSize</key>
				<string>{120,166}</string>
			</dict>

			<key>txt_bat_bao.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,809},{92,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,91}}</string>
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>

			<key>txt_choncai.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,901},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>

			<key>txt_sansang.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,6},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>game.png</string>
			</dict>
		</dict>
</plist>