<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>box.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,994},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,29}}</string>
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>

			<key>box0.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,946},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>btn_bxh.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,180},{180,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,46}}</string>
				<key>sourceSize</key>
				<string>{180,46}</string>
			</dict>

			<key>btn_bxh_chon.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,822},{180,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,46}}</string>
				<key>sourceSize</key>
				<string>{180,46}</string>
			</dict>

			<key>btn_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,409},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>btn_dong_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,321},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>btn_ds.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,274},{180,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,46}}</string>
				<key>sourceSize</key>
				<string>{180,46}</string>
			</dict>

			<key>btn_ds_chon.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,227},{180,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,46}}</string>
				<key>sourceSize</key>
				<string>{180,46}</string>
			</dict>

			<key>btn_fb.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,881},{204,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,61}}</string>
				<key>sourceSize</key>
				<string>{204,61}</string>
			</dict>

			<key>btn_fb_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,943},{204,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,61}}</string>
				<key>sourceSize</key>
				<string>{204,61}</string>
			</dict>

			<key>btn_login.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,762},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_login_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,60},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_logout_fb.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,522},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_logout_fb_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,941},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_register.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,120},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_register_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,582},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_submit.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,881},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_submit_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,0},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_turn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,702},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_turn_back_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,642},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>check.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,497},{39,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,37}}</string>
				<key>sourceSize</key>
				<string>{39,37}</string>
			</dict>

			<key>empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,1010},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,4}}</string>
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>

			<key>footer.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,535},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>loadingicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,321},{133,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,124}}</string>
				<key>sourceSize</key>
				<string>{133,124}</string>
			</dict>

			<key>popup_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,522},{635,358}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{635,358}}</string>
				<key>sourceSize</key>
				<string>{635,358}</string>
			</dict>

			<key>tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{666,521}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{666,521}}</string>
				<key>sourceSize</key>
				<string>{666,521}</string>
			</dict>

			<key>title_thongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,881},{414,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{414,112}}</string>
				<key>sourceSize</key>
				<string>{414,112}</string>
			</dict>

			<key>white.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,1005},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,4}}</string>
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>

			<key>wifi0.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,884},{66,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,61}}</string>
				<key>sourceSize</key>
				<string>{66,61}</string>
			</dict>

			<key>wifi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,822},{66,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,61}}</string>
				<key>sourceSize</key>
				<string>{66,61}</string>
			</dict>

			<key>wifi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,446},{66,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,61}}</string>
				<key>sourceSize</key>
				<string>{66,61}</string>
			</dict>

			<key>wifi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,446},{66,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,61}}</string>
				<key>sourceSize</key>
				<string>{66,61}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>login.png</string>
			</dict>
		</dict>
</plist>