<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_detail.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{743,427}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{743,427}}</string>
				<key>sourceSize</key>
				<string>{743,427}</string>
			</dict>

			<key>box.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,881},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,29}}</string>
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>

			<key>box0.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,802},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{76,76}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,802},{237,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,78}}</string>
				<key>sourceSize</key>
				<string>{238,79}</string>
			</dict>

			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,802},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>btn_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,891},{74,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,65}}</string>
				<key>sourceSize</key>
				<string>{75,66}</string>
			</dict>

			<key>btn_dong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,560},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,67}}</string>
				<key>sourceSize</key>
				<string>{66,67}</string>
			</dict>

			<key>btn_fb.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,802},{212,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,78}}</string>
				<key>sourceSize</key>
				<string>{212,78}</string>
			</dict>

			<key>btn_login.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,935},{212,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,78}}</string>
				<key>sourceSize</key>
				<string>{212,78}</string>
			</dict>

			<key>btn_register.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,935},{212,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,78}}</string>
				<key>sourceSize</key>
				<string>{212,78}</string>
			</dict>

			<key>empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1019},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{-2,-2},{1,1}}</string>
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>

			<key>icon_password.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,881},{30,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,41}}</string>
				<key>sourceSize</key>
				<string>{30,41}</string>
			</dict>

			<key>icon_username.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,881},{28,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,40}}</string>
				<key>sourceSize</key>
				<string>{28,40}</string>
			</dict>

			<key>loadingicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,881},{133,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,124}}</string>
				<key>sourceSize</key>
				<string>{133,124}</string>
			</dict>

			<key>login_checked.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,881},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{48,47}}</string>
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>

			<key>login_unchecked.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,881},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{48,47}}</string>
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>

			<key>popup_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,428},{618,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{618,373}}</string>
				<key>sourceSize</key>
				<string>{618,373}</string>
			</dict>

			<key>title_thongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,881},{234,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,6},{234,53}}</string>
				<key>sourceSize</key>
				<string>{323,69}</string>
			</dict>

			<key>white.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1014},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,4}}</string>
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>

			<key>wifi0.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,957},{69,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{69,65}}</string>
				<key>sourceSize</key>
				<string>{72,66}</string>
			</dict>

			<key>wifi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,494},{69,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{69,65}}</string>
				<key>sourceSize</key>
				<string>{72,66}</string>
			</dict>

			<key>wifi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,428},{69,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{69,65}}</string>
				<key>sourceSize</key>
				<string>{72,66}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>login.png</string>
			</dict>
		</dict>
</plist>