/bin
/build
/cocos2d
/libs
/proj.android-studio/.gradle
/proj.android-studio/.idea
/proj.android-studio/build
/proj.android-studio/gradle
/proj.android-studio/build-cfg.json
/proj.android-studio/gradle.properties
/proj.android-studio/gradlew
/proj.android-studio/gradlew.bat
/proj.android-studio/local.properties
/proj.android-studio/proj.android-studio.iml
/proj.android-studio/settings.gradle
/proj.android-studio/app/assets
/proj.android-studio/app/build
/proj.android-studio/app/libs
/proj.android-studio/app/obj
/proj.android-studio/app/build.xml
/proj.android-studio/app/ChanBachThu.iml
/proj.android-studio/app/local.properties
/proj.android-studio/app/proguard-project.txt
/proj.android-studio/app/proguard-rules.pro
/proj.android-studio/app/project.properties
/proj.win32
/proj.ios_mac/Pods
*.xcodeproj
*.xcworkspace
*.framework
*.entitlements
Podfile
Podfile.lock