<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_table_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,478},{224,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,81}}</string>
				<key>sourceSize</key>
				<string>{224,81}</string>
			</dict>

			<key>btn_NhaTranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,598},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_NhaTranh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,714},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_SanDinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,772},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_SanDinh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,656},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_VuongPhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,966},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_VuongPhu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,111},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,475},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_an_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,127},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,548},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_back_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,466},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_bag.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,907},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_bag_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,82},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_bo_chiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,726},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_bo_chiu_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,966},{202,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,56}}</string>
				<key>sourceSize</key>
				<string>{202,56}</string>
			</dict>

			<key>btn_boc.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,413},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_boc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,886},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_bou.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,537},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_bou_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,351},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,384},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_chat_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,302},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_chiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,0},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_chiu_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,62},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_danh.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,506},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_danh_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,444},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_dong_noc.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,606},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_dong_noc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,786},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,302},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_down_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,0},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_duoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,127},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_duoi_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,948},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,82},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_exit_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,907},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,712},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>btn_invite_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,466},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>btn_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,726},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_lichsu_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,906},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,560},{209,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,0},{209,45}}</string>
				<key>sourceSize</key>
				<string>{255,45}</string>
			</dict>

			<key>btn_moi.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,189},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_moi_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,289},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,825},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_rank_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,164},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,606},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_ready_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,846},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,227},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_send_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,382},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,825},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_settings_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,0},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_unready.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,666},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_unready_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,786},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,384},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_up_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,630},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_xem_noc.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,846},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_xem_noc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,666},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_xuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,478},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_xuong_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,906},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>center.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,173},{249,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,251}}</string>
				<key>sourceSize</key>
				<string>{249,251}</string>
			</dict>

			<key>chosen_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,966},{194,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,57}}</string>
				<key>sourceSize</key>
				<string>{194,57}</string>
			</dict>

			<key>icon_agency.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,711},{106,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{106,113}}</string>
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>

			<key>icon_charge.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,711},{107,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{107,111}}</string>
				<key>sourceSize</key>
				<string>{109,111}</string>
			</dict>

			<key>icon_guide.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,599},{107,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{107,111}}</string>
				<key>sourceSize</key>
				<string>{109,111}</string>
			</dict>

			<key>icon_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,599},{106,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,111}}</string>
				<key>sourceSize</key>
				<string>{107,111}</string>
			</dict>

			<key>icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,0},{129,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,126}}</string>
				<key>sourceSize</key>
				<string>{129,126}</string>
			</dict>

			<key>icon_news.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,189},{106,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,112}}</string>
				<key>sourceSize</key>
				<string>{107,112}</string>
			</dict>

			<key>money_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,425},{188,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,51}}</string>
				<key>sourceSize</key>
				<string>{188,51}</string>
			</dict>

			<key>title_bangxephang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{266,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,61}}</string>
				<key>sourceSize</key>
				<string>{266,61}</string>
			</dict>

			<key>title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{410,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,110}}</string>
				<key>sourceSize</key>
				<string>{410,110}</string>
			</dict>

			<key>title_caidat.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,886},{140,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,51}}</string>
				<key>sourceSize</key>
				<string>{140,51}</string>
			</dict>

			<key>title_hethong.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,227},{168,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,62}}</string>
				<key>sourceSize</key>
				<string>{168,62}</string>
			</dict>

			<key>title_hopthu.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,830},{155,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,55}}</string>
				<key>sourceSize</key>
				<string>{155,55}</string>
			</dict>

			<key>title_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,538},{191,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,59}}</string>
				<key>sourceSize</key>
				<string>{191,59}</string>
			</dict>

			<key>title_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,425},{236,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{236,52}}</string>
				<key>sourceSize</key>
				<string>{236,52}</string>
			</dict>

			<key>title_moichoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,290},{161,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,46}}</string>
				<key>sourceSize</key>
				<string>{161,46}</string>
			</dict>

			<key>title_naptien.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,337},{157,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,62}}</string>
				<key>sourceSize</key>
				<string>{157,62}</string>
			</dict>

			<key>title_thongtin.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,173},{176,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,53}}</string>
				<key>sourceSize</key>
				<string>{176,53}</string>
			</dict>

			<key>title_tintuc.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,337},{136,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,44}}</string>
				<key>sourceSize</key>
				<string>{136,44}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>buttons.png</string>
			</dict>
		</dict>
</plist>