<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_table_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,811},{224,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,81}}</string>
				<key>sourceSize</key>
				<string>{224,81}</string>
			</dict>

			<key>btn_NhaTranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,573},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_NhaTranh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,799},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_SanDinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,0},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_SanDinh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,116},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_VuongPhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,515},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_VuongPhu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,58},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,57}}</string>
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>

			<key>btn_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,941},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_an_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,515},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,859},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_back_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,941},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_bo_chiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,950},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_bo_chiu_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,893},{202,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,56}}</string>
				<key>sourceSize</key>
				<string>{202,56}</string>
			</dict>

			<key>btn_boc.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,879},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_boc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,0},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_bou.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,693},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_bou_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,631},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,689},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_chat_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,100},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_chiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,124},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_chiu_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,693},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_danh.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,631},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_danh_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,62},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_dong_noc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,953},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_dong_noc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,811},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_duoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,372},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_duoi_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,310},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,182},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>btn_invite_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,771},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>btn_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,559},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_lichsu_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,619},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_moi.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,755},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_moi_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,817},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,679},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_ready_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,739},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,248},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_send_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,186},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,434},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_settings_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,270},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>btn_unready.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,931},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_unready_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,335},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_xem_noc.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,871},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_xem_noc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,395},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_xuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,455},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_xuong_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,893},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>center.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,559},{249,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,251}}</string>
				<key>sourceSize</key>
				<string>{249,251}</string>
			</dict>

			<key>chosen_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,224},{194,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,57}}</string>
				<key>sourceSize</key>
				<string>{194,57}</string>
			</dict>

			<key>icon_charge.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,577},{107,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{107,111}}</string>
				<key>sourceSize</key>
				<string>{109,111}</string>
			</dict>

			<key>icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,0},{117,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,17},{117,99}}</string>
				<key>sourceSize</key>
				<string>{128,120}</string>
			</dict>

			<key>money_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,282},{188,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,51}}</string>
				<key>sourceSize</key>
				<string>{188,51}</string>
			</dict>

			<key>title_caidat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{413,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{413,112}}</string>
				<key>sourceSize</key>
				<string>{414,112}</string>
			</dict>

			<key>title_hethong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,224},{411,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{411,110}}</string>
				<key>sourceSize</key>
				<string>{411,110}</string>
			</dict>

			<key>title_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{413,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{413,110}}</string>
				<key>sourceSize</key>
				<string>{414,110}</string>
			</dict>

			<key>title_moichoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,447},{410,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,111}}</string>
				<key>sourceSize</key>
				<string>{410,111}</string>
			</dict>

			<key>title_thongtin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,335},{410,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,111}}</string>
				<key>sourceSize</key>
				<string>{410,111}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>buttons.png</string>
			</dict>
		</dict>
</plist>