<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,526},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,374},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,561},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,187},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,374},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,715},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,374},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,187},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>53.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,561},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>61.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,748},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>62.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,187},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>63.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,374},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>71.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,748},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>72.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,561},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>73.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,748},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>81.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,187},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>82.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>83.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,374},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>91.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,561},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>92.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,748},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>93.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,187},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>NhaTranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,709},{233,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{233,51}}</string>
				<key>sourceSize</key>
				<string>{237,51}</string>
			</dict>

			<key>SanDinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,656},{233,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{233,52}}</string>
				<key>sourceSize</key>
				<string>{237,52}</string>
			</dict>

			<key>SoLo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,603},{234,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{234,52}}</string>
				<key>sourceSize</key>
				<string>{237,52}</string>
			</dict>

			<key>Tour.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,542},{234,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{234,60}}</string>
				<key>sourceSize</key>
				<string>{237,60}</string>
			</dict>

			<key>VuongPhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,761},{229,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{229,45}}</string>
				<key>sourceSize</key>
				<string>{237,45}</string>
			</dict>

			<key>avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,261},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>avatar_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,376},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>bg_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,807},{127,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,174}}</string>
				<key>sourceSize</key>
				<string>{127,174}</string>
			</dict>

			<key>bg_avatar_main.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,565},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>

			<key>bg_card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,874},{127,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,38}}</string>
				<key>sourceSize</key>
				<string>{127,38}</string>
			</dict>

			<key>bg_countdown.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,913},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>

			<key>bg_dianoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,143},{115,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,117}}</string>
				<key>sourceSize</key>
				<string>{115,117}</string>
			</dict>

			<key>bg_napnoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,460},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

			<key>bg_napnoc_hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,709},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

			<key>bg_page_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,125},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,5},{56,56}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>bg_page_number_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,57},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{66,67}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>bg_slide_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{400,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,76}}</string>
				<key>sourceSize</key>
				<string>{400,76}</string>
			</dict>

			<key>box10.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,0},{71,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,56}}</string>
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>

			<key>box11.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,656},{71,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,56}}</string>
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>

			<key>box12.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,77},{73,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,56}}</string>
				<key>sourceSize</key>
				<string>{73,56}</string>
			</dict>

			<key>box3.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,376},{107,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,83}}</string>
				<key>sourceSize</key>
				<string>{107,83}</string>
			</dict>

			<key>box5.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,307},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>box6.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,713},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>box7.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,874},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,37}}</string>
				<key>sourceSize</key>
				<string>{40,37}</string>
			</dict>

			<key>box8.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,790},{107,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,83}}</string>
				<key>sourceSize</key>
				<string>{107,83}</string>
			</dict>

			<key>box_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,913},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,80}}</string>
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>

			<key>box_shop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,709},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,80}}</string>
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>

			<key>btn_page_number_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,874},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{66,67}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>btn_page_number_prev.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,784},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{66,67}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>btn_u.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,261},{112,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,114}}</string>
				<key>sourceSize</key>
				<string>{112,114}</string>
			</dict>

			<key>checked.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,416},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{53,54}}</string>
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>

			<key>chuphong.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,942},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,67}}</string>
				<key>sourceSize</key>
				<string>{66,67}</string>
			</dict>

			<key>circle_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,656},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>

			<key>ga_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,565},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,59}}</string>
				<key>sourceSize</key>
				<string>{54,60}</string>
			</dict>

			<key>ga_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,247},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,59}}</string>
				<key>sourceSize</key>
				<string>{54,60}</string>
			</dict>

			<key>giaidau.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,143},{237,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,398}}</string>
				<key>sourceSize</key>
				<string>{237,398}</string>
			</dict>

			<key>ico_user_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,994},{15,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,21}}</string>
				<key>sourceSize</key>
				<string>{15,21}</string>
			</dict>

			<key>icon_sansang.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,471},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>

			<key>icon_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,357},{64,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{64,58}}</string>
				<key>sourceSize</key>
				<string>{82,58}</string>
			</dict>

			<key>input_mathe.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,77},{354,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,65}}</string>
				<key>sourceSize</key>
				<string>{354,65}</string>
			</dict>

			<key>mask_avar.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,874},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,105}}</string>
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>

			<key>player1.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,416},{50,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,4},{50,54}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>player2.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,902},{45,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,0},{45,65}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>player3.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,182},{55,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,21},{55,64}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>player4.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,471},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,27},{49,53}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>stilt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,994},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{61,54},{90,24}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>table.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,807},{203,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,39},{203,66}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>time_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,542},{120,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,166}}</string>
				<key>sourceSize</key>
				<string>{120,166}</string>
			</dict>

			<key>txt_bat_bao.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,143},{92,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,91}}</string>
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>

			<key>txt_choncai.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,472},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>

			<key>unchecked.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,968},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,5},{44,44}}</string>
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>game.png</string>
			</dict>
		</dict>
</plist>