<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,451},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,134},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,638},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,638},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,825},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,825},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,323},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,837},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,638},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,825},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>53.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>61.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,638},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>62.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,825},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>63.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>71.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>72.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>73.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>81.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,451},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>82.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>83.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>91.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,510},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>92.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,451},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>93.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,451},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>NhaTranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,821},{181,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,10},{181,45}}</string>
				<key>sourceSize</key>
				<string>{217,65}</string>
			</dict>

			<key>SanDinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,867},{162,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,9},{162,46}}</string>
				<key>sourceSize</key>
				<string>{217,65}</string>
			</dict>

			<key>SoLo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,914},{142,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,11},{142,47}}</string>
				<key>sourceSize</key>
				<string>{217,65}</string>
			</dict>

			<key>Tour.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,766},{183,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,3},{183,54}}</string>
				<key>sourceSize</key>
				<string>{217,65}</string>
			</dict>

			<key>VuongPhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,723},{196,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{196,42}}</string>
				<key>sourceSize</key>
				<string>{217,65}</string>
			</dict>

			<key>avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,469},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>avatar_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,583},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>avatar_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,679},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>bg_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,656},{127,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,174}}</string>
				<key>sourceSize</key>
				<string>{127,174}</string>
			</dict>

			<key>bg_avatar_main.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,279},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>

			<key>bg_card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,914},{136,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,17},{136,64}}</string>
				<key>sourceSize</key>
				<string>{171,118}</string>
			</dict>

			<key>bg_countdown.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,370},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>

			<key>bg_dianoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,469},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{113,113}}</string>
				<key>sourceSize</key>
				<string>{171,118}</string>
			</dict>

			<key>bg_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,77},{537,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{537,86}}</string>
				<key>sourceSize</key>
				<string>{537,86}</string>
			</dict>

			<key>bg_napnoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,164},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,78}}</string>
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>

			<key>bg_page_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,896},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,5},{56,56}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>bg_page_number_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,633},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{66,67}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>bg_slide_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,164},{400,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,76}}</string>
				<key>sourceSize</key>
				<string>{400,76}</string>
			</dict>

			<key>bg_tabs.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{962,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{962,76}}</string>
				<key>sourceSize</key>
				<string>{962,76}</string>
			</dict>

			<key>bg_user_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,723},{128,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,153}}</string>
				<key>sourceSize</key>
				<string>{129,154}</string>
			</dict>

			<key>box10.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,77},{71,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,56}}</string>
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>

			<key>box11.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,583},{71,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,56}}</string>
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>

			<key>box12.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,656},{73,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,56}}</string>
				<key>sourceSize</key>
				<string>{73,56}</string>
			</dict>

			<key>box3.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,831},{107,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,83}}</string>
				<key>sourceSize</key>
				<string>{107,83}</string>
			</dict>

			<key>box5.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,775},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>box6.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,370},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>box7.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,979},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,37}}</string>
				<key>sourceSize</key>
				<string>{40,37}</string>
			</dict>

			<key>box8.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,915},{107,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,83}}</string>
				<key>sourceSize</key>
				<string>{107,83}</string>
			</dict>

			<key>box_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,307},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,80}}</string>
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>

			<key>box_shop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,388},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,80}}</string>
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>

			<key>btn_page_number_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,565},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{66,67}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>btn_page_number_prev.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,769},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{66,67}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>btn_u.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,164},{112,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,114}}</string>
				<key>sourceSize</key>
				<string>{112,114}</string>
			</dict>

			<key>center.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,307},{348,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,348}}</string>
				<key>sourceSize</key>
				<string>{348,348}</string>
			</dict>

			<key>checked.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,303},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{53,54}}</string>
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>

			<key>chuphong.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,701},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,67}}</string>
				<key>sourceSize</key>
				<string>{66,67}</string>
			</dict>

			<key>circle_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,656},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>

			<key>ga_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,441},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,59}}</string>
				<key>sourceSize</key>
				<string>{54,60}</string>
			</dict>

			<key>ga_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,243},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,59}}</string>
				<key>sourceSize</key>
				<string>{54,60}</string>
			</dict>

			<key>ico_user_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,962},{15,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,21}}</string>
				<key>sourceSize</key>
				<string>{15,21}</string>
			</dict>

			<key>icon_sansang.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,775},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>

			<key>icon_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,837},{64,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{64,58}}</string>
				<key>sourceSize</key>
				<string>{82,58}</string>
			</dict>

			<key>input_mathe.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,241},{354,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,65}}</string>
				<key>sourceSize</key>
				<string>{354,65}</string>
			</dict>

			<key>player1.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,697},{50,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,4},{50,54}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>player2.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,752},{45,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,0},{45,65}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>player3.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,953},{55,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,21},{55,64}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>player4.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,962},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,27},{49,53}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>stilt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,999},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{61,54},{90,24}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>table.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,656},{203,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,39},{203,66}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>time_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,831},{120,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,166}}</string>
				<key>sourceSize</key>
				<string>{120,166}</string>
			</dict>

			<key>unchecked.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,979},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,5},{44,44}}</string>
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>game.png</string>
			</dict>
		</dict>
</plist>