<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,798},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,260},{52,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,638},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,638},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,825},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,449},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,636},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,638},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,451},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>53.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,823},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>61.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>62.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>63.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,451},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>71.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,264},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>72.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>73.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,825},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>81.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,825},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>82.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,451},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>83.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,638},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>91.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,825},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>92.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,77},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>93.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,451},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>NhaTranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,873},{233,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{233,51}}</string>
				<key>sourceSize</key>
				<string>{237,51}</string>
			</dict>

			<key>SanDinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,820},{233,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{233,52}}</string>
				<key>sourceSize</key>
				<string>{237,52}</string>
			</dict>

			<key>SoLo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,706},{234,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{234,52}}</string>
				<key>sourceSize</key>
				<string>{237,52}</string>
			</dict>

			<key>Tour.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,759},{234,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{234,60}}</string>
				<key>sourceSize</key>
				<string>{237,60}</string>
			</dict>

			<key>VuongPhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,925},{229,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{229,45}}</string>
				<key>sourceSize</key>
				<string>{237,45}</string>
			</dict>

			<key>avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,877},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>avatar_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,164},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>bg_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,307},{127,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,174}}</string>
				<key>sourceSize</key>
				<string>{127,174}</string>
			</dict>

			<key>bg_avatar_main.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,260},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>

			<key>bg_card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,971},{127,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,38}}</string>
				<key>sourceSize</key>
				<string>{127,38}</string>
			</dict>

			<key>bg_countdown.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,351},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>

			<key>bg_dianoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,482},{115,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,117}}</string>
				<key>sourceSize</key>
				<string>{115,117}</string>
			</dict>

			<key>bg_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,77},{537,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{537,86}}</string>
				<key>sourceSize</key>
				<string>{537,86}</string>
			</dict>

			<key>bg_napnoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,600},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

			<key>bg_napnoc_hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,432},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

			<key>bg_page_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,966},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,5},{56,56}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>bg_page_number_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,762},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{66,67}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>bg_slide_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,164},{400,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,76}}</string>
				<key>sourceSize</key>
				<string>{400,76}</string>
			</dict>

			<key>bg_tabs.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{962,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{962,76}}</string>
				<key>sourceSize</key>
				<string>{962,76}</string>
			</dict>

			<key>bg_user_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,706},{128,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,153}}</string>
				<key>sourceSize</key>
				<string>{129,154}</string>
			</dict>

			<key>box10.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,164},{71,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,56}}</string>
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>

			<key>box11.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,409},{71,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,56}}</string>
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>

			<key>box12.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,860},{73,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,56}}</string>
				<key>sourceSize</key>
				<string>{73,56}</string>
			</dict>

			<key>box3.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,241},{107,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,83}}</string>
				<key>sourceSize</key>
				<string>{107,83}</string>
			</dict>

			<key>box5.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,830},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>box6.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,507},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>box7.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,971},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,37}}</string>
				<key>sourceSize</key>
				<string>{40,37}</string>
			</dict>

			<key>box8.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,325},{107,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,83}}</string>
				<key>sourceSize</key>
				<string>{107,83}</string>
			</dict>

			<key>box_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,681},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,80}}</string>
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>

			<key>box_shop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,600},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,80}}</string>
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>

			<key>btn_page_number_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,830},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{66,67}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>btn_page_number_prev.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,898},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{66,67}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>btn_u.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,762},{112,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,114}}</string>
				<key>sourceSize</key>
				<string>{112,114}</string>
			</dict>

			<key>checked.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,743},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{53,54}}</string>
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>

			<key>chuphong.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,675},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,67}}</string>
				<key>sourceSize</key>
				<string>{66,67}</string>
			</dict>

			<key>circle_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,636},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>

			<key>ga_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,562},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,59}}</string>
				<key>sourceSize</key>
				<string>{54,60}</string>
			</dict>

			<key>ga_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,675},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,59}}</string>
				<key>sourceSize</key>
				<string>{54,60}</string>
			</dict>

			<key>giaidau.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,307},{237,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,398}}</string>
				<key>sourceSize</key>
				<string>{237,398}</string>
			</dict>

			<key>ico_user_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,992},{15,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,21}}</string>
				<key>sourceSize</key>
				<string>{15,21}</string>
			</dict>

			<key>icon_sansang.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,507},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>

			<key>icon_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,77},{64,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{64,58}}</string>
				<key>sourceSize</key>
				<string>{82,58}</string>
			</dict>

			<key>input_mathe.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,241},{354,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,65}}</string>
				<key>sourceSize</key>
				<string>{354,65}</string>
			</dict>

			<key>player1.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,449},{50,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,4},{50,54}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>player2.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,136},{45,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,0},{45,65}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>player3.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,860},{55,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,21},{55,64}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>player4.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,735},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,27},{49,53}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>stilt.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,681},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{61,54},{90,24}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>table.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,925},{203,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,39},{203,66}}</string>
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>

			<key>time_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,482},{120,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,166}}</string>
				<key>sourceSize</key>
				<string>{120,166}</string>
			</dict>

			<key>unchecked.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,971},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,5},{44,44}}</string>
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>game.png</string>
			</dict>
		</dict>
</plist>