<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>box.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,180},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,29}}</string>
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>

			<key>box0.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,62},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>btn_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,368},{188,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,64}}</string>
				<key>sourceSize</key>
				<string>{188,64}</string>
			</dict>

			<key>btn_dong_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,433},{188,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,64}}</string>
				<key>sourceSize</key>
				<string>{188,64}</string>
			</dict>

			<key>btn_fb.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,0},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>btn_fb_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,438},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>btn_login.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,438},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>btn_login_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,379},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>btn_logout_fb.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,118},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_logout_fb_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,178},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_register.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,379},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>btn_register_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,59},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>btn_submit.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,238},{189,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,64}}</string>
				<key>sourceSize</key>
				<string>{189,64}</string>
			</dict>

			<key>btn_submit_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,303},{189,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,64}}</string>
				<key>sourceSize</key>
				<string>{189,64}</string>
			</dict>

			<key>btn_turn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,379},{219,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,63}}</string>
				<key>sourceSize</key>
				<string>{219,63}</string>
			</dict>

			<key>btn_turn_back_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,443},{219,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,63}}</string>
				<key>sourceSize</key>
				<string>{219,63}</string>
			</dict>

			<key>check.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,180},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,507},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,4}}</string>
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>

			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,498},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{6,6}}</string>
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>

			<key>loadingicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,238},{133,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,124}}</string>
				<key>sourceSize</key>
				<string>{133,124}</string>
			</dict>

			<key>popup_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{616,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,378}}</string>
				<key>sourceSize</key>
				<string>{616,378}</string>
			</dict>

			<key>popup_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,507},{200,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,1}}</string>
				<key>sourceSize</key>
				<string>{200,1}</string>
			</dict>

			<key>white.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,507},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,4}}</string>
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>

			<key>wifi0.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,425},{66,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,61}}</string>
				<key>sourceSize</key>
				<string>{66,61}</string>
			</dict>

			<key>wifi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,363},{66,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,61}}</string>
				<key>sourceSize</key>
				<string>{66,61}</string>
			</dict>

			<key>wifi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,118},{66,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,61}}</string>
				<key>sourceSize</key>
				<string>{66,61}</string>
			</dict>

			<key>wifi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,0},{66,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,61}}</string>
				<key>sourceSize</key>
				<string>{66,61}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>login.png</string>
			</dict>
		</dict>
</plist>