<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dinhlang.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,0},{237,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,392}}</string>
				<key>sourceSize</key>
				<string>{237,392}</string>
			</dict>

			<key>dtd.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,0},{237,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,390}}</string>
				<key>sourceSize</key>
				<string>{237,390}</string>
			</dict>

			<key>nha_tranh.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,0},{237,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,390}}</string>
				<key>sourceSize</key>
				<string>{237,390}</string>
			</dict>

			<key>phuchua.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{237,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,388}}</string>
				<key>sourceSize</key>
				<string>{237,388}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>main.png</string>
			</dict>
		</dict>
</plist>