<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_kichhoat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_kickhoat_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_nap.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,276},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_nap_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,52},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>gcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,176},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

			<key>megacard.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,176},{162,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,102}}</string>
				<key>sourceSize</key>
				<string>{162,102}</string>
			</dict>

			<key>mobifone.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,379},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

			<key>title_cuahang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{174,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,55}}</string>
				<key>sourceSize</key>
				<string>{174,55}</string>
			</dict>

			<key>title_giftcode.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,0},{151,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,51}}</string>
				<key>sourceSize</key>
				<string>{151,51}</string>
			</dict>

			<key>title_huvang.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,120},{156,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,55}}</string>
				<key>sourceSize</key>
				<string>{156,55}</string>
			</dict>

			<key>vcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,379},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

			<key>viettel.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,279},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

			<key>vinaphone.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,279},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>menu2.png</string>
			</dict>
		</dict>
</plist>