<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>as.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{678,681}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{678,681}}</string>
				<key>sourceSize</key>
				<string>{678,681}</string>
			</dict>

			<key>btn_kichhoat.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,106},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_kickhoat_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,46},{202,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,59}}</string>
				<key>sourceSize</key>
				<string>{202,59}</string>
			</dict>

			<key>btn_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,0},{209,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,0},{209,45}}</string>
				<key>sourceSize</key>
				<string>{255,45}</string>
			</dict>

			<key>btn_nap.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,669},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>btn_nap_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,906},{126,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,61}}</string>
				<key>sourceSize</key>
				<string>{126,61}</string>
			</dict>

			<key>provider1.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,369},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

			<key>provider2.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,269},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

			<key>provider3.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,569},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

			<key>provider4.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,166},{162,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,102}}</string>
				<key>sourceSize</key>
				<string>{162,102}</string>
			</dict>

			<key>provider5.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,469},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

			<key>title_giftcode.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,906},{410,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,110}}</string>
				<key>sourceSize</key>
				<string>{410,110}</string>
			</dict>

			<key>title_hopthu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,795},{413,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{413,112}}</string>
				<key>sourceSize</key>
				<string>{413,112}</string>
			</dict>

			<key>title_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,793},{411,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{411,112}}</string>
				<key>sourceSize</key>
				<string>{411,112}</string>
			</dict>

			<key>title_huvang.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,682},{411,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{411,110}}</string>
				<key>sourceSize</key>
				<string>{411,110}</string>
			</dict>

			<key>title_naptien.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,908},{413,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{413,112}}</string>
				<key>sourceSize</key>
				<string>{413,112}</string>
			</dict>

			<key>title_tintuc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,682},{413,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{413,112}}</string>
				<key>sourceSize</key>
				<string>{413,112}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>menu2.png</string>
			</dict>
		</dict>
</plist>