<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,100},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

			<key>megacard.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{162,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,102}}</string>
				<key>sourceSize</key>
				<string>{162,102}</string>
			</dict>

			<key>mobifone.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,0},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

			<key>vcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,0},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

			<key>viettel.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,103},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

			<key>vinaphone.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,103},{158,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,99}}</string>
				<key>sourceSize</key>
				<string>{158,99}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>menu2.png</string>
			</dict>
		</dict>
</plist>