<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_phone.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,0},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>coffer.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,0},{104,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,114}}</string>
				<key>sourceSize</key>
				<string>{104,114}</string>
			</dict>

			<key>facebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,109},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,16},{108,108}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

			<key>fb_friends.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,0},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,16},{108,108}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

			<key>icon_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,112},{108,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,9},{108,115}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

			<key>icon_giftcode.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,16},{108,108}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

			<key>icon_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,115},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{77,53}}</string>
				<key>sourceSize</key>
				<string>{82,58}</string>
			</dict>

			<key>icon_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{109,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,13},{109,111}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>menu1.png</string>
			</dict>
		</dict>
</plist>