<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_nap.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{132,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,78}}</string>
				<key>sourceSize</key>
				<string>{132,78}</string>
			</dict>

			<key>btn_phone.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,375},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>coffer.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,375},{104,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,114}}</string>
				<key>sourceSize</key>
				<string>{104,114}</string>
			</dict>

			<key>facebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,0},{110,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,147}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

			<key>fb_friends.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,227},{110,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,147}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

			<key>icon_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,227},{110,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,147}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

			<key>icon_giftcode.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,79},{110,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,147}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

			<key>icon_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,0},{82,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,58}}</string>
				<key>sourceSize</key>
				<string>{82,58}</string>
			</dict>

			<key>icon_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,79},{110,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,147}}</string>
				<key>sourceSize</key>
				<string>{110,147}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>menu1.png</string>
			</dict>
		</dict>
</plist>